@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@import 'swiper/css';
@import 'swiper/css/navigation';
@import 'swiper/css/pagination';

* {
  font-family: "Outfit", sans-serif; 
}

@theme {
  /* --color-primary: #5044E5; */ /* Purple */
  /* --color-primary: #254D70; */ /* Old */
  --color-primary: #00a63e;  /* Green */
  --color-primary-dull: #dcfce7;
  --color-light: #F1F5F9;
  --box-shadow: 0 12px 24px 2px rgb(129 146 179 / 8%);
}

@layer utilities {
  .animate-scroll {
    animation: scroll-x 30s linear infinite;
  }

  .mask-linear {
    -webkit-mask-image: linear-gradient(
      90deg,
      transparent,
      white 10%,
      white 90%,
      transparent
    );
    mask-image: linear-gradient(
      90deg,
      transparent,
      white 10%,
      white 90%,
      transparent
    );
  }

  @keyframes scroll-x {
    to {
      transform: translateX(calc(-50% - 0.5rem));
    }
  }

  .custom-scrollbar::-webkit-scrollbar {
    width: 5px;
  }
  .custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
  }
  .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #e2e8f0;
    border-radius: 20px;
  }
}
